{% extends 'base.html' %}

{% block title %} - {{post.title}}{% endblock title %}

{% block content %}
<style>
    .container {
    max-width: 768px;
    width: 100%;
}
figure {
    width: 30px;
}
img {
    width: 750px;
    height: 300px;
}

</style>
<!-- 800x300 -->
    <article>
        <figure, >
         <img src="{{post.image.url}}" class="rounded" alt="{{post.title}}">
        </figure>
        <div class="mt-3">
            <h1>{{post.title}}</h1>
            <p class="text-muted">
                Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
            </p>
        </div>

        <div class="article-body">
                {{post.body|safe}}
        </div>
        
    </article>
    
   
{% endblock content %}